<html>
<head>

<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/bootstrap-responsive.css" rel="stylesheet">

</head>
<body data-spy="scroll" data-target=".subnav" data-offset="50">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/#">Test</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li class="active">
              <a href="/#">Home</a>
            </li>
            <li class="">
              <a href="/#account">Account</a>
            </li>
            <li class="">
              <a href="/#login">Login</a>
            </li>
            <li class="">
              <a href="/#logout">Logout</a>
            </li>
            <li class="">
              <a href="/#following">Following</a>
            </li>
            <li class="">
              <a href="/#followers">Followers</a>
            </li>
            <li class="divider-vertical"></li>
            <li class="">
              <a href="/#ride/1">Action #1</a>
            </li>
            <li class="">
              <a href="/#notifications">Notifications <div id="notifications"></div></a> 
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<br>
<br>
<br>
<div class="container">
  <div id="container">
  </div>
</body>

<script type="text/javascript" data-main="/js/main.js" src="/js/require-jquery.js"></script>
</html>
