<!DOCTYPE html>
<html>
	<head>
		<title>Passport-Twitter Example</title>
	</head>
	<body>
		{{#if user}}
			<p>
      Static template 
			<a href="/">Home</a> | 
			<a href="/account">Account</a> | 
			<a href="/login">Log In</a> | 
			<a href="/logout">Log Out</a>
			</p>
		{{else}}
			<p>
			<a href="/">Home</a> | 
			<a href="/login">Log In</a>
			</p>
    {{/if}}
		{{{body}}}
	</body>
</html>
