{{#unless user.providers.twitter}}
<a href="/auth/twitter">Sign in with Twitter</a>
{{else}}
Twitter: <a href="http://twitter.com/{{ user.providers.twitter.username }}">{{ user.providers.twitter.username }}</a> - <a href="/deauth/twitter">Deauth</a>
{{/unless}}
<br>
{{#unless user.providers.facebook}}
<a href="/auth/facebook">Sign in with FB</a>
{{else}}
Facebook: <a href="{{ user.providers.facebook.profileUrl }}">{{ user.providers.facebook.displayName }}</a> - <a href="/deauth/facebook">Deauth</a>
{{/unless}}
<br>
{{#unless user.providers.google}}
<a href="/auth/google">Sign in with Google</a>
{{else}}
Facebook: <a href="{{ user.providers.google.profileUrl }}">{{ user.providers.google.displayName }}</a> - <a href="/deauth/google">Deauth</a>
{{/unless}}
